{% extends 'teammanager/base.html' %}

{% block title %}Directory - Pigpen{% endblock %}

{% block style %}
  <style>
    .head {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
  </style>
{% endblock %}


{% block content %}
  <div class="container-fluid">
    {% for section in sections %}
      <h2 class="mt-4 mb-4 text-center">{{ section.title }}</h2>
      <div class="row justify-content-center mb-1">
        {% for position in section.positions %}
          <div class="col-sm-12 col-md-4 col-xl-3 mb-4 justify-content-center text-center">
            <img class="head rounded-circle mb-3" src="{{ position.member.get_avatar }}">
            <h5>{{ position.member }}</h5>
            <p class="small text-muted mb-0">{{ position.name }}</p>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}