{% extends 'teammanager/base.html' %}

{% block title %}Hours - Pigpen {% endblock %}

{% block script %}
  <script>
      $.get("{% url 'man:hours_table' %}").then(function (response) {
          $("#table").html(response);
      });

      let leaderboard = function () {
          $.get("{% url 'man:hours_table' %}?sort=leader").then(function (response) {
              $("#table").html(response);
          });
      };
  </script>
{% endblock %}

{% block content %}
  <div id="table" class="text-center w-100 mt-3">
    <p>Loading...</p>
  </div>
{% endblock %}