{% extends 'teammanager/base.html' %}

{% load static %}

{% block content %}

  <div class="row">

    <div class="offset-sm-0 col-sm-12 offset-md-1 col-md-7">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to Pigpen</h1>
        <p class="lead">Exploding Bacon's internal Team Management System.</p>
        <hr>
        {% if request.user.is_authenticated %}
          Use the links on the header to navigate the site.
        {% else %}
          <p>Please log in to access the site.
   "403_client_error"         For non-team visitors, please visit us at
            <a href="403_client_error""https://www.explodingbacon.com/">www.explodingbacon.com</a>. </p>
        {% endif %}
      </div>
      <iframe class="w-100" style="height: 500px;" frameborder="0"
              src="https://calendar.google.com/calendar/embed?mode=AGENDA&height=600&wkst=1&bgcolor=%23ffffff&src=explodingbacon.team1902%40gmail.com&color=%2350b04d&ctz=America%2FNew_York"></iframe>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="text-center">
        <br>
        <h3>Total Team Hours: {{ total_hours }}</h3>
        <h2>Hours Leaderboard:</h2>
        <br>
        {% for student in students %}
          <div class="mb-0">
            <a href="{% url 'man:member' id=student.id %}">
              {% if forloop.counter == 1 %}
                <h3 class="text-secondary">
              {% elif forloop.counter == 2 %}
                <h4 class="text-dark">
              {% elif forloop.counter == 3 %}
                <h5 class="text-dark">
              {% else %}
                <h6 class="text-dark">
              {% endif %}
              {% if forloop.counter < 4 %}
                <img class="rounded-circle mb-1"
                     src="{{ student.avatar }}"
                     style="width: 3em; height:3em; object-fit: cover;"><br>
              {% endif %}
              {{ student.name }}<br><span class="text-muted">{{ student.hours }}</span>
              {% if forloop.counter == 1 %}
                </h3>
              {% elif forloop.counter == 2 %}
                </h4>
              {% elif forloop.counter == 3 %}
                </h5>
              {% else %}
                </h6>
              {% endif %}
            </a>
          </div>
          <hr>
        {% endfor %}
        <a href="{% url 'teammanager:hours'%}">See Here for Full Hours Listing</a>
      </div>
    </div>
  </div>
{% endblock %}