{% extends 'teammanager/base.html' %}

{% load static %}

{% block script %}
  <script>
      setInterval(function () {
          location.reload(true);
      }, 60000);
  </script>
{% endblock %}

{% block content %}
  <style>
    .gray {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }

    .named-head {
      width: 70px;
      padding-bottom: 16px;
    }

    .head {
      width: 3em;
      height: 3em;
      object-fit: cover;
    }
  </style>
  <br>
  <div class="container-fluid">
    <div class="row mx-xl-5">
      <div class="col-sm-12 col-md-6">
        {% if any_checkins %}
          <h3 class="text-center">
            Checked In
          </h3>
          <hr>
          <h5>Students</h5>
          <div class="row">
            {% for member in members %}
              {% if member.position == "stu" and member.isIn %}
                <div class="float-left text-center named-head">
                  <small>
                    <img class="head rounded-circle mb-1"
                         src="{{ member.avatar }}"><br>
                    {{ member.name }}
                  </small>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <br>
          <h5>Adults</h5>
          <div class="row">
            {% for member in members %}
              {% if member.isIn %}
                {% if member.position == "mtr" or member.position == "asib" %}
                  <div class="float-left text-center named-head">
                    <small>
                      <img class="head rounded-circle mb-1"
                           src="{{ member.avatar }}"><br>
                      {{ member.name }}
                    </small>
                    <br>
                  </div>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        {% else %}
          <h3 class="text-center">Nobody is Checked In!</h3>
          <div class="d-none d-sm-none d-md-block">
            <hr>
          </div>
        {% endif %}
        <div class="d-block d-sm-block d-md-none">
          <hr>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <h3 class="text-center">
          {% if any_checkins %}
            Not Present
          {% else %}
            Roster
          {% endif %}
        </h3>
        <hr>
        <h5>Students</h5>
        <div class="row">
          {% for member in members %}
            {% if member.position == "stu" and not member.isIn %}
              <div class="float-left text-center named-head">
                <small>
                  <img class="gray head rounded-circle mb-1"
                       src="{{ member.avatar }}"><br>
                  {{ member.name }}
                </small>

              </div>
            {% endif %}
          {% endfor %}
        </div>
        <br>
        <h5>Adults</h5>
        <div class="row">
          {% for member in members %}
            {% if member.position == "mtr" and not member.isIn %}
              <div class="float-left text-center named-head">
                <small>
                  <img class="gray head rounded-circle mb-1"
                       src="{{ member.avatar }}"><br>
                  {{ member.name }}
                </small>
                <br>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}