{% extends 'teammanager/base.html' %}

{% load static %}

{% block title %}Meetings - Pigpen{% endblock %}

{% block content %}
  <script>
    function signup(id) {
        $.post('{% url 'man:meetings' %}',
       {
           signup: id
       },
       function(data) {
            if (data.success) {
                location.reload();
            } else {
                alert(data.error);
            }
        })
    }
  </script>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-5">
        <h5>OPEN Build Meetings</h5>
        <div class="list-group">
          {% for meeting in meetings %}
            {% if meeting.type == "build" %}
              <a href="{% url "teammanager:meeting" id=meeting.id %}"
                 class="list-group-item list-group-item-action">
                <span><b>{{ meeting.get_name }}</b> on {{ meeting.date }}</span>
                <span class="ml-1 badge badge-primary float-right">{{ meeting.members.all|length }} att.</span>
              </a>
            {% endif %}
          {% endfor %}
        </div>
        <br>
        <h5>Extra/Non-Mandatory Meetings</h5>
        <div class="list-group">
          {% for meeting in meetings %}
            {% if meeting.type == "othr" %}
              <a href="{% url "teammanager:meeting" id=meeting.id %}"
                 class="list-group-item list-group-item-action">
                <span><b>{{ meeting.get_name }}</b> on {{ meeting.date }}</span>
                <span class="ml-1 badge badge-primary float-right">{{ meeting.members.all|length }} att.</span>
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="col-12 col-md-12 offset-md-0 col-lg-6 offset-lg-1">
        <h5>Upcoming Outreach Events</h5>
        <div class="list-group">
          {% for meeting in outreaches_upcoming %}
            <div class="list-group-item">
              <span>
                <b>{{ meeting.get_name }}</b> on {{ meeting.date }}
              </span>
              {% if member in meeting.members.all %}
                <span class="float-right badge badge-secondary">Attending!</span>
              {% endif %}
              {% if meeting.description %}
                <p>
                  {{ meeting.description }}
                </p>
              {% else %}
                <p>No description provided.</p>
              {% endif %}
              {% if meeting.members.all|length > 0 %}
                <a href="{% url "teammanager:meeting" id=meeting.id %}" class="btn btn-sm btn-primary">View Signups</a>
              {% endif %}
              {% if meeting.signup_active %}
                {% if member %}
                  {% if member in meeting.members.all %}
                    <!--<button class="btn btn-sm btn-secondary">Unsign Up :(</button>-->
                    <button disabled class="btn btn-sm btn-secondary">Un-Signup Coming Soon</button>
                  {% else %}
                    {% if meeting.signup_notes_needed %}
                      <button disabled class="btn btn-sm btn-secondary">Advanced Signup Coming Soon</button>
                    {% else %}
                      <button class="btn btn-sm btn-secondary" data-toggle="modal"
                              data-target="#outreach-{{ meeting.id }}">Pigpen™ Quick Signup
                      </button>
                      <!--<button class="btn btn-sm btn-secondary" data-toggle="modal"
                              data-target="#outreach-{{ meeting.id }}">
                      <img src="{% static "teammanager/logo.png" %}" style="height: 15px; width: auto;">
                        Quick Signup
                      </button>-->
                    {% endif %}
                  {% endif %}
                {% else %}
                  <button disabled class="btn btn-sm btn-secondary">No Member Connected</button>
                {% endif %}
              {% else %}
                <a href="https://www.explodingbacon.com/forums/" class="btn btn-sm btn-primary">Visit Forum</a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <br>
        <h5>
          Past Outreach Events
          {% if request.user.is_authenticated and request.user.is_staff %}
            <a href="{% url "man:outreach_hours_add" %}" class="btn btn-secondary btn-sm">Add Hours</a>
          {% endif %}
        </h5>
        {% if outreaches_old|length > 0 %}
          <div class="list-group">
            {% for meeting in outreaches_old %}
              <a href="{% url "teammanager:meeting" id=meeting.id %}"
                 class="list-group-item list-group-item-action">
                <span>
                  <b>{{ meeting.name }}</b> on {{ meeting.date }}
                </span>
                <span class="ml-1 badge badge-primary float-right">{{ meeting.members.all|length }} att.</span>
              </a>
            {% endfor %}
          </div>
        {% else %}
          <p>None!</p>
        {% endif %}
      </div>
    </div>
  </div>
  {% for meeting in outreaches_upcoming %}
    {% if meeting.signup_active %}
      <div class="modal fade" id="outreach-{{ meeting.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"><b>{{ meeting.get_name }}</b> on {{ meeting.date }}</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <b>Are you sure</b> you want to sign up for this outreach?
            </div>
            <div class="modal-footer text-center">
              <button onclick="signup({{ meeting.id }})" type="button" class="btn btn-secondary">Sign Up</button>
              <button type="button" class="btn btn-light" data-dismiss="modal">Nevermind</button>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}