{% extends 'teammanager/base.html' %}

{% block title %}Meetings - Pigpen{% endblock %}

{% block content %}
  <br>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-5">
        <h5>OPEN Build Meetings</h5>
        <div class="list-group">
          {% for meeting in meetings %}
            {% if meeting.type == "build" %}
              <a href="{% url "teammanager:meeting" id=meeting.id %}"
                 class="list-group-item list-group-item-action">
                <span><b>{{ meeting.get_name }}</b> on {{ meeting.date }}</span>
                <span class="ml-1 badge badge-primary float-right">{{ meeting.members.all|length }} att.</span>
              </a>
            {% endif %}
          {% endfor %}
        </div>
        <br>
        <h5>Extra/Non-Mandatory Meetings</h5>
        <div class="list-group">
          {% for meeting in meetings %}
            {% if meeting.type == "othr" %}
              <a href="{% url "teammanager:meeting" id=meeting.id %}"
                 class="list-group-item list-group-item-action">
                <span><b>{{ meeting.get_name }}</b> on {{ meeting.date }}</span>
                <span class="ml-1 badge badge-primary float-right">{{ meeting.members.all|length }} att.</span>
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="col-12 col-md-12 offset-md-0 col-lg-6 offset-lg-1">
        <h5>Upcoming Outreaches</h5>

        <div class="list-group">
          {% for meeting in outreaches_upcoming %}
            <div class="list-group-item">
              <span>
                <b>{{ meeting.get_name }}</b> on {{ meeting.date }}
              </span>
              {% if meeting.description %}
                <p>
                  {{ meeting.description }}
                </p>
              {% else %}
                <p>No description provided.</p>
              {% endif %}
              {% if meeting.members.all|length > 0 %}
                <a href="{% url "teammanager:meeting" id=meeting.id %}" class="btn btn-sm btn-primary">View Info</a>
              {% endif %}
              {% if meeting.signup_active %}
                <!--<button class="btn btn-sm btn-secondary">Pigpen™ Quick Signup</button>-->
                <button disabled class="btn btn-sm btn-secondary">Web Signup Coming Soon</button>
              {% else %}
                <a href="https://www.explodingbacon.com/forums/" class="btn btn-sm btn-primary">Visit Forum</a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <br>
        <h5>
          Past Outreaches
          {% if request.user.is_authenticated and request.user.is_staff %}
            <a href="{% url "man:outreach_hours_add" %}" class="btn btn-secondary btn-sm">Add Hours</a>
          {% endif %}
        </h5>
        {% if outreaches_old|length > 0 %}
          <div class="list-group">
            {% for meeting in outreaches_old %}
              <a href="{% url "teammanager:meeting" id=meeting.id %}"
                 class="list-group-item list-group-item-action">
                <span>
                  <b>{{ meeting.name }}</b> on {{ meeting.date }}
                </span>
                <span class="ml-1 badge badge-primary float-right">{{ meeting.members.all|length }} att.</span>
              </a>
            {% endfor %}
          </div>
        {% else %}
          <p>None!</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}