{% extends 'teammanager/base.html' %}

{% block title %}{{ member.short_name }} - Pigpen{% endblock %}

{% block content %}
  <style>
  .named-head {
      width: 70px;
      padding-bottom: 16px;
    }
  </style>
  <br>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6">
        <div class="text-center">
          <h3 class="mb-0">
            <img class="head rounded-circle mb-1"
                 src="{{ member.get_avatar }}"><br>
            {{ member.short_name }}
          </h3>
          {% if member.subtitle %}
            <h5 class="text-muted">{{ member.subtitle }}</h5>
          {% else %}
            <h5 class="text-muted">{{ member.get_role_display }}</h5>
          {% endif %}
        </div>
        <hr>
        <div class="row">
         {% if member.role == "stu" or member.role == "mtr" %}
          <div class="col-12">
            <h4>Hours: {{ hr_total }}</h4>
            <div class="pl-4">
              <h6><b>Build:</b> {{ hr_build }}</h6>
              <h6><b>Outreach:</b> {{ hr_out }}</h6>
            </div>
            <div class="">
              <hr>
            </div>
          </div>
            <div class="col-12">
            <h4>Attendance</h4>
            <div class="pl-4">
              <h6 class="text-muted">
                {% if meetings|length <= total_meetings %}
                  {{ meetings|length }}/{{ total_meetings }}
                {% else %}
                  {{ total_meetings }}/{{ total_meetings }}
                {% endif %}
                Build Meetings (
                {% if attendance_percent >= 30 %}
                  <span class="text-success"><b>{{ attendance_percent }}%</b></span>
                {% else %}
                  <span>{{ attendance_percent }}%</span>
                {% endif %}
                of hours )
              </h6>
              {% for meeting in meetings %}
                <a href="{% url "teammanager:meeting" id=meeting.id %}">
                  <span>
                    <b>{{ meeting.get_name }}</b> on {{ meeting.date }}
                    {% if meeting.type == "othr" %}
                      <small class="text-muted"><i>(optional)</i></small>
                    {% endif %}
                   </span>
                </a><br>
              {% endfor %}
            </div>
            {% if member.slack or family|length > 1 %}
              <hr>
            {% endif %}
          {% endif %}
          </div>
          {% if member.slack %}
            <div class="col-12">
              <h4>Slack Info</h4>
              <div class="pl-4">
                <img class="rounded" src="{{ member.slack_avatar }}" width="30px" height="auto">
                <code>@{{ member.slack_username }}</code>
              </div>
              {% if family|length > 1 %}
                <hr>
              {% endif %}
            </div>
          {% endif %}
          {% if family|length > 1 %}
            <div class="col-12">
              <h4>Family Members</h4>
              <div class="">
                {% for fam in family %}
                  {% if fam.id != member.id %}
                    <div class="float-left text-center named-head">
                      <a href="{% url 'man:member' id=fam.id %}">
                        <small class="text-dark">
                          <img class="head-md rounded-circle mb-1"
                               src="{{ fam.get_avatar }}"><br>
                          {{ fam.short_name }}
                        </small>
                      </a>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}