{% extends 'teammanager/base.html' %}

{% block content %}
  <div class="container-fluid">
    <h2 class="text-center my-3">Create Outreach Event from Calendar</h2>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      {% for event in events %}
        <tr>
          <td>{{ event.name }}</td>
          <td>{{ event.date_str }}</td>
          <td>{{ event.time_start_str }}</td>
          <td>{{ event.time_end_str }}</td>
          <td><a class="btn btn-primary" href="#{{ event.uid }}">Create</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}